<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="pnrservices" transaction-type="RESOURCE_LOCAL">

        <class>com.company.pnrservices.entity.Zbdropmodules</class>
        <class>com.company.pnrservices.entity.LastClosedTerminals</class>
        <class>com.company.pnrservices.entity.RestParams</class>
        <class>com.company.pnrservices.entity.SM160Log</class>
        <class>com.company.pnrservices.entity.SM160LogOperations</class>
        <class>com.company.pnrservices.entity.SM160LogDiscovery</class>
    </persistence-unit>
</persistence>
